<?xml version="1.0"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="TwillioWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<!-- Replace this with your xignite authentication token -->
		<add key="xigniteToken" value="XXXXXXXXXXXXXXXXX" />
	</appSettings>
	<system.web>
		<compilation debug="false" targetFramework="4.0" />
	</system.web>

	<applicationSettings>
		<TwillioWeb.Properties.Settings>
			<setting name="TwillioWeb_RemoteBatsLastSale_XigniteBATSLastSale"
					serializeAs="String">
				<value>http://www.xignite.com/xBATSLastSale.asmx</value>
			</setting>
		</TwillioWeb.Properties.Settings>
	</applicationSettings>
</configuration>
